.bz-light-red {
    background-color: red;
}

.rating-icon {
    width: 20px;
}

.btn-bz-danger {
    background-color: rgb(211, 50, 82);
    color: white;
}

/* footer  */

.footer {
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}