.bz-light-red {
    background-color: red;
}

.rating-icon {
    width: 20px;
}

.btn-bz-danger {
    background-color: rgb(211, 50, 82);
    color: white;
}

/* footer  */

.footer {
    width: 100%;
    height: 400px;
    color: white;
}